a, a:hover, a:visited, a:active {
	color: #1D4575;
}

body {
	color: #FFF;
	background-color: #000;
}

footer {
	margin-top: 1.5em;
}

input[type=text], input[type=password], input[type=email], textarea {
	border-radius: 3px;
	padding: 4px;
}

label {
	float: left;
	width: 150px;
	margin-left: 10px;
}

label.error, span.error {
	color: #F99;
	display: none;
}

ul.distraction-list {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
}

#container {
}

#content-header {
}

#masthead {
	background-color: #9C0;
	padding-top: 1em;
	margin-bottom: 1.5em;
	#logo {
	}
	#logo-pic {
	}
}

#nav-social {
	list-style-type: none;
	li {
		float: left;
		margin: 0 6px 0 0;
		padding: 0;
	}
}

.centered {
	text-align: center;
}

@mixin column {
	background-color: #FFF;
	color: #000;
	padding-top: 1em;
}

.full-column {
	@include column;
}

.home-column {
	@include column;
	min-height: 28em;
}

.home-column.final {
	margin-right: 0;
}

.form-hidden {
	display: none;
}

@media screen and (max-width: 992px) {
	.home-column {
	    min-height: 22em;
		padding-bottom: 1em;
	}
	
	#logo-pic {
		display: none;
	}
}

